body {
	background: #e1e5ee;
	color: #2a324b;
	margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: #2a324b;
}
h4 {
	font-size: medium;
}
h5 {
	font-size: 25px;
}

ul {
	margin: 0;
}

.bg-steel {
	background-color: #2a324b;
}

.site-header .navbar-nav .nav-link {
	color: #f7c59f;
}

.site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

.sidebar-button:hover {
	text-decoration: none;
	font-weight: 500;
}

.list-group-item {
	background-color: #c7ccdb;
	color: #2a324b;
	margin: 5px 0px 5px 0px;
}

.fixed {
	position: fixed;
	padding-right: 8%;
	left: 64%;
}

.button {
	background-color: #e1e5ee;
	color: #2a324b;
	padding: 10px 32px;
	text-align: center;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 6px;
	font-weight: bold;
	border: none;
}

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}

.entry-title {
	color: #2a324b;
}

a.entry-title:hover {
	color: #428bca;
	text-decoration: none;
}

.entry-content {
	white-space: pre-line;
}

.entry-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #e3e3e3;
}

.entry-metadata a:hover {
	color: #333;
	text-decoration: none;
}