{% extends "mealmate/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card mx-auto w-75 mb-4 bg-light">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %} <!--Security measure to prevent CSRF attacks-->
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 d-inline">
                        Edit food 
                        <a href="{% url 'foodinfo-detail' object.pk %}" class="close float-right mr-3">
                        <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
                        </a>
                    </legend>

                    {{ form|crispy }}
                    
                </fieldset>
                <div class="form-group float-right d-inline">                   
                    <button class="btn btn-info" type="submit">Confirm</button>                    
                </div>
                <a href="{% url 'foodinfo-detail' object.pk %}" class="close float-right mr-3">
                    <button type="button" class="btn btn-dark" >Cancel</button>
                </a>
            </form>
        </div>
        
    </div>
{% endblock content %}